<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^produits src/Controller/ProduitsController.php [QSA,L]

    RewriteRule ^$ index.php [QSA,L]
    RewriteRule ^hello index.php [QSA,L]
</IfModule>

