{% extends 'layout.html.twig' %}

{% block javascripts %} 
   <script language = "javascript" 
      src = "https://code.jquery.com/jquery-2.2.4.min.js"></script> 
   
   <script language = "javascript">  
      $(document).ready(function(){   
         $("#loadstudent").on("click", function(event){  
            $.ajax({  
               url:        '/student/ajax',  
               type:       'POST',   
               dataType:   'json',  
               async:      true,  
               
               success: function(data, status) {  
                  }  
               },  
               error : function(xhr, textStatus, errorThrown) {  

               }  
            });  
         });  
      });  
   </script> 
{% endblock %}  

{% block title%} Users {% endblock %}

{% block content %}

  {% if users %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Article Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {%  for user in users %}
          <tr>
            <td>{{ user.nom }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Articles yok</p>
  {% endif %}

{% endblock %}